body {
  margin: 0;
  background-color: #fefeff;
  max-width: 100%;
  background-color: #fff6a0;
}

.burgermenu {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 6%;
  right: 3.5%;
}

.burgermenu .line {
  width: 30px;
  height: 4px;
  background-color: #2e00e8;
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav_links {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  right: 1%;
  background: #2e00e8;
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  list-style-type: none;
  z-index: 1;
}

.nav_links a {
  text-decoration: none;
  color: #fffffd;
  font-size: 60px;
  transition: color 0.3s ease;
  padding-right: 13.5rem;
  font-size: 50px;
  font-family: "inter-tight-variable", sans-serif;
}

.nav_links a:hover {
  color: #6f8bfd;
}

.nav_links.show {
  display: flex;
}

.burgermenu.open .line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: #fffffd;
  width: 110%;
}

.burgermenu.open .line:nth-child(2) {
  opacity: 0;
}

.burgermenu.open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: #fffffd;
  width: 110%;
}

footer {
  background-color: #2e00e8;
  color: #fffffd;
  text-align: center;
  padding: 5rem;
  margin-top: 30px;
  font-family: "inter-tight-variable", sans-serif;
  font-variation-settings: "wght" 400;
}

/* forside css */
.forside_container {
  position: relative;
  width: 100%;
  min-height: 600px;
}

.lottie_container {
  position: absolute;
  top: 0;
  width: 100%;
}

.forside_overskrift {
  position: relative;
  font-size: 45px;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: #2f3dd8;
  top: 310px;
  max-width: 100%;
  padding-left: 1rem;
}

@media (width >= 700px) {
  .nav_links a {
    font-size: 60px;
  }

  .lottie_container {
    position: absolute;
    top: 0;
    left: 40%;
    width: 100px;
    transform: scale(2);
    z-index: -1;
  }

  .forside_overskrift {
    font-size: 90px;
    top: 90px;
    max-width: 100%;
    padding-left: 6rem;
    padding-bottom: 4rem;
  }

  footer {
    padding-top: 2.5rem;
  }

  /* .footer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .kontakt {
    grid-column: 1/2;
    grid-row: 1;
    text-align: left;
  }

  .copyright {
    grid-row: 1;
    grid-column: 2/3;
  }

  .adresse {
    grid-row: 1;
    grid-column: 3/4;
  } */
}
