body {
  background-color: rgb(250, 239, 230);
  max-width: 100%;
  /* border: solid 2px #494343;
  margin: 40px; */
}

.burgermenu {
  display: flex;
  cursor: pointer;
  flex-direction: column;
  gap: 5px;
  position: absolute;
  top: 6%;
  right: 3.5%;
}

.burgermenu .line {
  width: 30px;
  height: 4px;
  background-color: rgb(28, 28, 28);
  border-radius: 2px;
  transition: all 0.3s ease;
}

.nav_links {
  display: none;
  flex-direction: column;
  gap: 2rem;
  position: absolute;
  top: 0;
  right: 1%;
  background: rgb(28, 28, 28);
  padding-left: 4rem;
  padding-bottom: 4rem;
  padding-top: 4rem;
  list-style-type: none;
  z-index: 1;
}

.nav_links a {
  text-decoration: none;
  color: rgb(250, 239, 230);
  font-size: 60px;
  transition: color 0.3s ease;
  padding-right: 10rem;
  font-size: 50px;
  font-family: "inter-tight-variable", sans-serif;
}

.nav_links a:hover {
  color: rgb(116, 115, 115);
}

.nav_links.show {
  display: flex;
}

.burgermenu.open .line:nth-child(1) {
  transform: rotate(45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: rgb(250, 239, 230);
  width: 110%;
}

.burgermenu.open .line:nth-child(2) {
  opacity: 0;
}

.burgermenu.open .line:nth-child(3) {
  transform: rotate(-45deg);
  position: absolute;
  top: 145%;
  right: 0;
  z-index: 2;
  background-color: rgb(250, 239, 230);
  width: 110%;
}

/* forside css */
.forside_container {
  position: relative;
  width: 100%;
  min-height: 600px;
}

.lottie_container {
  position: absolute;
  top: 11%;
  width: 100%;
}

.forside_overskrift {
  position: relative;
  font-size: 45px;
  font-family: "hiragino-kaku-gothic-pron", sans-serif;
  color: rgb(39, 37, 37);
  top: 400px;
  max-width: 100%;
  padding-left: 1rem;
}

@media (width >= 700px) {
  body {
    border: solid 4px rgb(39, 37, 37);
    margin: 100px;
  }

  .nav_links a {
    font-size: 60px;
  }

  .lottie_container {
    position: absolute;
    top: 0;
    left: 40%;
    width: 100px;
    transform: scale(1.5);
    z-index: -1;
  }

  .forside_overskrift {
    font-size: 70px;
    top: 230px;
    max-width: 100%;
    padding-left: 6rem;
    padding-bottom: 4rem;
  }

  footer {
    padding-top: 2.5rem;
  }
}
